<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"  [routerLink]="''">KF</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="''">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" ngbDropdown #myDrop="ngbDropdown">
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarTop" role="button">
              Recipes
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarTop" class="dropdown-menu dropdown-menu-left">
              <a class="dropdown-item btn-light" [routerLink]="'recipes/new'">Add Recipe</a>
              <a class="dropdown-item btn-light" [routerLink]="'recipes'">View Recipes</a>
            </div> 
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'pantry'">Pantry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Other</a>
        </li>
      </ul>
      
    </div>
    <ul class="navbar-nav navbar-dark bg-dark">
      <li class="nav-item" ngbDropdown #myDrop="ngbDropdown">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarTop" role="button">
          <fa-icon [icon]="['fas','pepper-hot']"></fa-icon>
        </a>
        <form ngbDropdownMenu aria-labelledby="navbarTop" class="dropdown-menu dropdown-menu-right p-3">
            <div class="form-group">
              <label for="loginUsername">Email address</label>
              <input type="email" class="form-control form-control-sm" id="loginUsername" placeholder="email@example.com">
            </div>
            <div class="form-group">
              <label for="loginPassword">Password</label>
              <input type="password" class="form-control form-control-sm" id="loginPassword" placeholder="Password">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-dark btn-sm">Sign in</button>
            <div class="dropdown-divider"></div>
              <small><a class="dropdown-item uk-text-small" [routerLink]="'register'">Sign up</a></small>
              <small><a class="dropdown-item" >Forgot password?</a></small>
            </div>
        </form>
      </li>
    </ul>
  </nav>