<ng-container  [formGroup]="passwordGroup">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <div class="form-group">
                <label for="newPassword">
                    <fa-icon class="small" [icon]="['fas','star-of-life']"></fa-icon> Password
                </label>
                <input type="password" required formControlName="newPassword" class="form-control form-control-sm" id="newPassword" placeholder="Password">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="confirmPassword">
                    <fa-icon class="small" [icon]="['fas','star-of-life']"></fa-icon> Confirm Password
                </label>
                <input type="password" required formControlName="confirmPassword" class="form-control form-control-sm" id="confirmPassword" placeholder="Confirm Password">
            </div>
        </div>
    </div>
    <div *ngIf="checkErrors('minlength')" class="invalidPw text-danger">Password must be at least 8 characters long</div>
    <div *ngIf="checkErrors('passwordMismatch')" class="invalidPw text-danger">Passwords do not match</div>
</ng-container >
