<ng-container  [formGroup]="profileGroup">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control form-control-sm" id="firstName" placeholder="First Name">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName"  class="form-control form-control-sm" id="lastName" placeholder="Last Name">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-4">
            <div class="form-group">
                <label for="emailAddr">
                    <fa-icon class="small" required [icon]="['fas','star-of-life']"></fa-icon> Email Address
                </label>
                <input type="email" required formControlName="emailAddr" 
                    
                class="form-control form-control-sm" id="emailAddr" placeholder="email@example.com">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="confirmEmail">
                    <fa-icon class="small" [icon]="['fas','star-of-life']"></fa-icon> Confirm Your Email
                </label>
                <input type="email" required formControlName="confirmEmail" class="form-control form-control-sm" id="confirmEmail" placeholder="email@example.com">
            </div>
        </div>
    </div>
    <div *ngIf="checkErrorS()" class="invalidEmail text-danger">Invalid Email Address</div>
</ng-container >